<div style="display: flex;">
  <div id="board" class="board">
    <%# https://codepen.io/JoshuaDraxten/pen/kcunl %>
    <script type="text/javascript">
  
    </script>

    <br><button id="createNoteButton">Add New Note</button>



  </div>

  <div class="chat">
    <div class="chat_display">
      <div id="messages"></div>
    </div>
    <div class="input_display">
      <p id="chat-input" class="message_input" contentEditable="true"></p>
    </div>
    
  </div>
</div>

<script type="text/javascript">
  document.getElementById('chat-input').addEventListener('input', function() {
    this.innerHTML = process_tags(this.innerHTML);
    setEndOfContenteditable(this);
  });

  function process_tags(text) {
    let text_pieces = text.split(' ');
    let new_text_arr = text_pieces.map(color_word); 

    return new_text_arr.join(' ');
  }

  function color_word(word) {
    if (!(word.includes('@'))) {
      return word.split(/>|</)[2] || word;
    } else {
      return '<span>' + (word.split(/>|</)[2] || word) + '</span>';
    }
  }


  function setEndOfContenteditable(contentEditableElement)
  {
      var range,selection;
      if(document.createRange)//Firefox, Chrome, Opera, Safari, IE 9+
      {
          range = document.createRange();//Create a range (a range is a like the selection but invisible)
          range.selectNodeContents(contentEditableElement);//Select the entire contents of the element with the range
          range.collapse(false);//collapse the range to the end point. false means collapse to end rather than the start
          selection = window.getSelection();//get the selection object (allows you to change selection)
          selection.removeAllRanges();//remove any selections already made
          selection.addRange(range);//make the range you have just created the visible selection
      }
      else if(document.selection)//IE 8 and lower
      { 
          range = document.body.createTextRange();//Create a range (a range is a like the selection but invisible)
          range.moveToElementText(contentEditableElement);//Select the entire contents of the element with the range
          range.collapse(false);//collapse the range to the end point. false means collapse to end rather than the start
          range.select();//Select the range (make it the visible selection
      }
  }
</script>
