/* This file is for your main application css. */

@import url(https://fonts.googleapis.com/css?family=Lato);


.chat {
  width: 300px;
  background-color: #ccdfff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.chat_display {
  width: 100%;
  flex-grow: 1;
  background-color: #e8e8e8;
}

.input_display {
  padding-top: 10px;
  padding-bottom: 10px;
}

.message_input {
  width: 100%;
  background-color: white;
}

.message_input span {
  color:blue;
}

.board {
  flex-grow: 4;
}

.topBar{
  z-index:1;
  position:absolute;
  width:200px;
  height:40px;
  background-color:#f39c12;
}
.form{
  margin-top:40px;
  position:absolute;
  width:200px;
  height:160px;
  background-color:#f1c40f;
}
.textAria{
  position:absolute;
  border-color:red;
  width:180px;
  height:140px;
  position:absolute;
  margin:10px;
  font-family: 'Lato', sans-serif;
  overflow:hide;
}
.textAria:focus{
  outline: 0;
}

.postIt { 
  height: 200px;
  width: 200px;
} 